extends ../layouts/main-layout

block content
    main
        if products.length
            ul
                each product in products
                    li
                        p #{product.productData.title}, #{product.qty}
                        form(action="/cart-delete-product", method="POST")
                            button.btn(type="submit") Delete
                            input(type="hidden", name="productId" value=product.productData.id)
        else
            h1 No products in cart