extends ../layouts/main-layout
block styles
    link(rel="stylesheet", href="/css/cart.css")

block content
    main
        if products.length
            ul(class="cart__item-list")
                each product in products
                    li(class="cart__item")
                        p(class="title") #{product.productId.title}
                        p(class="quantity") Quantity: #{product.quantity}
                        form(action="/cart-delete-product", method="POST", class="button")
                            button.btn(type="submit") Delete
                            input(type="hidden", name="productId" value=product.productId._id)
            hr
            div.centered
                form(action="/create-order", method="POST")
                    button.btn(type="submit") Order Now!
        else
            h1 No products in cart